body {
  position: absolute;
  width: 1440px;
  height: 1513px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
}

header {
  position: absolute;
  width: 1440px;
  height: 80px;
  left: 0px;
  top: 0px;
}

.navigation {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  width: 234px;
  height: 56px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
