.cart-name {
    position: absolute;
    width: 84px;
    height: 40px;
    left: 100px;
    top: 160px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    color: #1D1F22;
}

.bar {
    position: absolute;
    width: 1240px;
    height: 1px;
    left: 100px;
    top: 255px;
    background: #E5E5E5;
}