.cart-name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    color: #1D1F22;
    padding-bottom: 55px;
}

.bar {
    height: 1px;
    background: #E5E5E5;
    max-width: 100%;
}

.cart {
    max-width: 100%;
    margin: 100px;
}

.image-cart {
    display: flex;
    width: 200px;
    height: 280px;
    position: relative;
}

.amount-changer-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product-info-cart {
    display: grid;
    grid-template-columns: 1fr 24px auto;
    font-family: 'Raleway';
    gap: 20px;
    border-bottom: 1px solid #E5E5E5;
    padding: 24px 0px;
}

.plus-button-cart,
.minus-button-cart {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
	padding: 0;
    font-size: 40px;
	cursor: pointer;
    border: 1px solid #1D1F22;
}

.information-box-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
}

.product-name-cart,
.product-brand-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
}

.product-brand-cart {
    font-weight: 400;
}

.price-cart {
    font-weight: bold;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.minicart-radio-tiles-cart {
    font-weight: 700;
    font-size: 18px;
}

.product-amount-cart {
    font-weight: 500;
    font-size: 24px;
}

.cart-page-tile {
    width: 63px;
    height: 45px;
}

.cart-page-tile-swatch {
    width: 32px;
    height: 32px;
}

.final-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    margin-top: 32px;
}

.tax,
.tax-result,
.quantity,
.quantity-result,
.total-cart,
.total-result {
    font-size: 24px;
}

.tax {
    font-weight: 400;
}

.tax-result {
    font-weight: 700;
}

.quantity {
    font-weight: 400;
}

.quantity-result {
    font-weight: 700;
}

.total-cart {
    font-weight: 400;
    padding-bottom: 16px;
}

.total-result {
    font-weight: 700;
}

.order {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-transform: uppercase;
    width: 279px;
    height: 43px;
    padding: 16px 32px;
    font-size: 16px;
    color: #FFFFFF;
    background: #5ECE7B;
    cursor: pointer;
    border: none;
}