.product-view {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  font-family: 'Raleway';
  max-width: 1240px;
  margin: 0 auto;
  grid-gap: 20px;
}
  
.product-view .images {
  display: grid;
  margin-bottom: 10px;
  grid-column: 1/1;
}
  
.product-view .product-info {
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 0 100px 0 0;
}

.featured-picture {
  width: 610px;
  height: 511px;
}

.featured-picture img {
  object-fit: cover;
}

.product-info h1 {
  font-weight: 600;
  font-size: 30px;
}

.product-info h2 {
  font-weight: 400;
  font-size: 30px;
}

.product-info h4 {
  font-weight: 700;
  font-size: 24px;
}

.product-info h5 {
  font-weight: 400;
  font-size: 16px;
}

.product-info p {
  font-weight: 700;
  font-size: 18px;
}

.thumbnails {
  width: 80px;
  height: 80px;
}

.cart-adding button {
  width: 290px;
  height: 50px;
  padding: 16px 32px;
  font-size: 16px;
  color: #FFFFFF;
  background: #5ECE7B;
  cursor: pointer;
  border: none;
}

.thumbnails:hover + .featured-picture {
  display: inline;
}