.section-right-currencies {
  box-shadow: 0px 4px 35px 0px rgba(168, 172, 176, 0.19);
  z-index: 1;
}

.currencies-dropdown:has(.dropdown-content) .dropdown-title svg {
  transform: rotate(180deg);
  transition: 200ms;
}

.dropdown-title div {
  display: flex;
  gap: 2px;
  align-items: center;
}

.currencies-container {
  animation: slideDown ease 255ms;
  background: white;
}

.currency-div {
  display: flex;
  gap: 10px;
  padding: 0px 15px;
  transition: all 255ms;
}

.currency-div:hover {
  background-color: #EEEEEE;
  cursor: pointer;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}