@font-face {
    font-family: 'Raleway';
    src: url(../Raleway-SemiBold.ttf) format('truetype'); 
    font-weight: semibold;
   }
  
  @font-face {
    font-family: 'Raleway';
    src: url(../Raleway-Medium.ttf) format('truetype');
   }

.product-info {
    display: flex;
    font-family: 'Raleway';
}

.minicart-radio-tile {
    height: 24px;
    font-size: 14px;
}

.information-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    gap: 16px;
}

.image-box {
    width: 121px;
    height: 190px;
    display: flex;
    align-items: center;
}

.price {
    font-weight: bold;
}