@font-face {
  font-family: 'Raleway';
  src: url(./Raleway-SemiBold.ttf) format('truetype');
  font-weight: semibold;
}

@font-face {
  font-family: 'Raleway';
  src: url(./Raleway-Medium.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  color: #1D1F22;
}

button {
  padding: 20px;
}

svg {
  width: 12px;
  height: 12px;
}

main {
  width: 100%;
  max-width: 1240px;
  display: grid;
  margin: 0 auto;
  gap: 8px;
  grid-template-columns: repeat(3, 1fr);
}

.product-name {
  text-decoration: none;
  position: relative;
}

.product-name img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
  object-position: top;
}

.product-hover {
  position: relative;
  padding: 16px;
}

.product-hover:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  transition: 300ms;
}

main>* {
  min-width: 0px;
}

img {
  width: 100%;
  object-fit: contain;
}

.product-list img {
  aspect-ratio: 330/350;
  object-fit: cover;
}

.images {
  width: 100%;
  max-width: 1240px;
  display: grid;
  margin: 0 auto;
  gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
}

label {
  position: relative;
  display: inline-block;
  border: 1px solid #1D1F22;
  margin: 10px 5px;
}

label input {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
}

.radio-tile {
  padding: 10px;
}

label input:checked+.radio-tile {
  background: #1D1F22;
  color: white;
}

.add-cart path,
.white.add-cart {
  fill: white;
  stroke: none;
}

.circle {
  position: absolute;
  opacity: 0;
  transition: all 0.8s;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5ECE7B;
  border-radius: 100%;
  right: 0;
}

.product-hover:hover .circle {
  transform: translateY(-50%);
  opacity: 1;
}
